In [15]:
import pandas as pd

In [16]:
numbers = [1, 2, 3, 4, 5]

In [17]:
pd.Series()

Series([], dtype: object)

In [18]:
letters = ['a', 'b', 'c', 'd', 'e']

In [19]:
pd.Series(data=numbers, index=letters)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
pd.Series(data=letters, index=['letter1', 'letter2', 'letter3', 'letter4', 'letter5'])

letter1    a
letter2    b
letter3    c
letter4    d
letter5    e
dtype: object

In [21]:
data = {"name":"sanjay", "age":26,"work":"ML engeener"}

In [22]:
pd.Series(data=data)

name         sanjay
age              26
work    ML engeener
dtype: object

In [23]:
pd.Series(data=data, index=["name", "age", "job"])

name    sanjay
age         26
job        NaN
dtype: object