In [1]:
import pandas as pd

In [2]:
series = pd.Series([100, 200, 300])

In [3]:
series

0    100
1    200
2    300
dtype: int64

In [4]:
data = {'a' : [100, 200, 300], 'b': [400, 500, 600], 'c' : [700, 800, 900]}
df = pd.DataFrame(data=data)
df

     a    b    c
0  100  400  700
1  200  500  800
2  300  600  900

In [5]:
series.sum()

np.int64(600)

In [7]:
df.sum()

a     600
b    1500
c    2400
dtype: int64

In [8]:
df.sum(axis=1)

0    1200
1    1500
2    1800
dtype: int64

In [9]:
df.sum(axis="columns")

0    1200
1    1500
2    1800
dtype: int64

In [10]:
df.sum(axis="index")

a     600
b    1500
c    2400
dtype: int64

In [11]:
df.max(axis=1)

0    700
1    800
2    900
dtype: int64

In [12]:
df.max()

a    300
b    600
c    900
dtype: int64