In [1]:
import pandas as pd

In [2]:
pokemons = pd.read_csv("Pokemon.csv", index_col="#")
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
pokemons["Legendary"] = pokemons["Legendary"].replace({True : "yes", False: "No"})
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,yes
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,yes
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,yes
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,yes
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,yes

In [4]:
pokemons["Generation"].replace({1:"First"}, inplace=True)
pokemons

C:\Users\sanja\AppData\Local\Temp\ipykernel_9596\1952915350.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  pokemons["Generation"].replace({1:"First"}, inplace=True)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,First,No
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,First,No
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,First,No
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,First,No
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,First,No
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,yes
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,yes
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,yes
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,yes
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,yes