In [1]:
import pandas as pd

In [2]:
cols = ["Series_Title", "IMDB_Rating", "No_of_Votes", "Gross", "Released_Year", "Genre"]

In [5]:
movies = pd.read_csv("imdb_top_1000.csv", usecols=cols)
movies

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,"28,341,469"
1,The Godfather,1972,"Crime, Drama",9.2,1620367,"134,966,411"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,2303232,"534,858,444"
3,The Godfather: Part II,1974,"Crime, Drama",9.0,1129952,"57,300,000"
4,12 Angry Men,1957,"Crime, Drama",9.0,689845,"4,360,000"
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",7.6,166544,NaN
996,Giant,1956,"Drama, Western",7.6,34075,NaN
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,43374,"30,500,000"
998,Lifeboat,1944,"Drama, War",7.6,26471,NaN
999,The 39 Steps,1935,"Crime, Mystery, Thriller",7.6,51853,NaN

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Genre          1000 non-null   object
 3   IMDB_Rating    1000 non-null   float64
 4   No_of_Votes    1000 non-null   int64
 5   Gross          831 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

In [8]:
movies.describe().round()

       IMDB_Rating  No_of_Votes
count       1000.0       1000.0
mean           8.0     273693.0
std            0.0     327373.0
min            8.0      25088.0
25%            8.0      55526.0
50%            8.0     138548.0
75%            8.0     374161.0
max            9.0    2343110.0

In [9]:
movies['Gross'] = movies['Gross'].str.replace(",", "")

In [10]:
movies

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,28341469
1,The Godfather,1972,"Crime, Drama",9.2,1620367,134966411
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,2303232,534858444
3,The Godfather: Part II,1974,"Crime, Drama",9.0,1129952,57300000
4,12 Angry Men,1957,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",7.6,166544,NaN
996,Giant,1956,"Drama, Western",7.6,34075,NaN
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,43374,30500000
998,Lifeboat,1944,"Drama, War",7.6,26471,NaN
999,The 39 Steps,1935,"Crime, Mystery, Thriller",7.6,51853,NaN

In [11]:
movies['Gross'].fillna(0, inplace=True)
movies["Gross"] = movies["Gross"].astype('int64')

In [12]:
movies

,Series_Title,Released_Year,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,Drama,9.3,2343110,28341469
1,The Godfather,1972,"Crime, Drama",9.2,1620367,134966411
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,2303232,534858444
3,The Godfather: Part II,1974,"Crime, Drama",9.0,1129952,57300000
4,12 Angry Men,1957,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,"Comedy, Drama, Romance",7.6,166544,0
996,Giant,1956,"Drama, Western",7.6,34075,0
997,From Here to Eternity,1953,"Drama, Romance, War",7.6,43374,30500000
998,Lifeboat,1944,"Drama, War",7.6,26471,0
999,The 39 Steps,1935,"Crime, Mystery, Thriller",7.6,51853,0

In [13]:
movies.describe().round()

       IMDB_Rating  No_of_Votes        Gross
count       1000.0       1000.0       1000.0
mean           8.0     273693.0   56536878.0
std            0.0     327373.0  103238179.0
min            8.0      25088.0          0.0
25%            8.0      55526.0     445710.0
50%            8.0     138548.0   10702752.0
75%            8.0     374161.0   61539891.0
max            9.0    2343110.0  936662225.0

In [14]:
movies.count()

Series_Title     1000
Released_Year    1000
Genre            1000
IMDB_Rating      1000
No_of_Votes      1000
Gross            1000
dtype: int64

In [18]:
movies.mean(numeric_only=True).round()

IMDB_Rating           8.0
No_of_Votes      273693.0
Gross          56536878.0
dtype: float64

In [19]:
movies.max(numeric_only=True).round()

IMDB_Rating            9.0
No_of_Votes      2343110.0
Gross          936662225.0
dtype: float64

In [20]:
movies.min(numeric_only=True).round()

IMDB_Rating        8.0
No_of_Votes    25088.0
Gross              0.0
dtype: float64

In [22]:
movies.quantile(q=0.5, numeric_only=True)

IMDB_Rating           7.9
No_of_Votes      138548.5
Gross          10702751.5
Name: 0.5, dtype: float64

In [23]:
movies.describe(include=['O'])

       Series_Title Released_Year  Genre
count          1000          1000   1000
unique          999           100    202
top        Drishyam          2014  Drama
freq              2            32     85