In [1]:
import pandas as pd

In [2]:
cols = ["Series_Title", "IMDB_Rating", "No_of_Votes"]

In [3]:
movies = pd.read_csv("imdb_top_1000.csv", usecols=cols)
movies

                 Series_Title  IMDB_Rating  No_of_Votes
0    The Shawshank Redemption          9.3      2343110
1               The Godfather          9.2      1620367
2             The Dark Knight          9.0      2303232
3      The Godfather: Part II          9.0      1129952
4                12 Angry Men          9.0       689845
..                        ...          ...          ...
995    Breakfast at Tiffany's          7.6       166544
996                     Giant          7.6        34075
997     From Here to Eternity          7.6        43374
998                  Lifeboat          7.6        26471
999              The 39 Steps          7.6        51853

[1000 rows x 3 columns]

In [5]:
movies.nlargest(n=10, columns=["IMDB_Rating", "No_of_Votes"])

                                    Series_Title  IMDB_Rating  No_of_Votes
0                       The Shawshank Redemption          9.3      2343110
1                                  The Godfather          9.2      1620367
2                                The Dark Knight          9.0      2303232
3                         The Godfather: Part II          9.0      1129952
4                                   12 Angry Men          9.0       689845
6                                   Pulp Fiction          8.9      1826188
5  The Lord of the Rings: The Return of the King          8.9      1642758
7                               Schindler's List          8.9      1213505
8                                      Inception          8.8      2067042
9                                     Fight Club          8.8      1854740

In [7]:
movies.nsmallest(n=10, columns=["No_of_Votes"], keep="all")

                          Series_Title  IMDB_Rating  No_of_Votes
264                     Ba wang bie ji          8.1        25088
721                  God's Own Country          7.7        25198
694                 La planète sauvage          7.8        25229
718  Scarface: The Shame of the Nation          7.8        25312
570                              Raazi          7.8        25344
785              The Magdalene Sisters          7.7        25938
989                   The Long Goodbye          7.6        26337
169                     Dom za vesanje          8.2        26402
814                      Do lok tin si          7.7        26429
863                          Cape Fear          7.7        26457