In [1]:
import pandas as pd

In [6]:
richest = pd.read_csv("TopRichestInWorld.csv", usecols=["Name"]).squeeze()

In [8]:
richest.head(10)

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [9]:
richest[0]

'Elon Musk'

In [10]:
richest[[1, 2, 15]]

1                   Jeff Bezos
2     Bernard Arnault & family
15                  Jim Walton
Name: Name, dtype: object

In [11]:
richest[5:10]

5       Larry Page
6      Sergey Brin
7    Larry Ellison
8    Steve Ballmer
9    Mukesh Ambani
Name: Name, dtype: object

In [12]:
richest[:21:5]

0                 Elon Musk
5                Larry Page
10    Gautam Adani & family
15               Jim Walton
20             Charles Koch
Name: Name, dtype: object

In [13]:
richest[:10]

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [16]:
richest[-1:]

100    Peter Woo
Name: Name, dtype: object

In [17]:
richest.index

RangeIndex(start=0, stop=101, step=1)