In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sample.csv")

In [3]:
df

                        Name  Age
0               Lee Shau Kee   94
1                Li Ka-shing   93
2             Warren Buffett   91
3    Rupert Murdoch & family   91
4             Leonard Lauder   89
..                       ...  ...
96          Guillaume Pousaz   40
97      Yang Huiyan & family   40
98              Zhang Yiming   38
99           Mark Zuckerberg   37
100        Sam Bankman-Fried   30

[101 rows x 2 columns]