In [1]:
import pandas as pd

In [5]:
pokemons = pd.read_csv("Pokemon.csv", index_col=["Type 1", "Name"])
pokemons

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed  Generation  Legendary
Type 1  Name
Grass   Bulbasaur                   65       65     45           1      False
        Ivysaur                     80       80     60           1      False
        Venusaur                   100      100     80           1      False
        VenusaurMega Venusaur      122      120     80           1      False
Fire    Charmander                  60       50     65           1      False
...                                ...      ...    ...         ...        ...
Rock    Diancie                    100      150     50           6       True
        DiancieMega Diancie        160      110    110           6       True
Psychic HoopaHoopa Confined        150      130     70           6       True
        HoopaHoopa Unbound         170      130     80           6       True
Fire    Volcanion                  130       90     70           6       True

[800 rows x 11 columns]

In [6]:
pokemons.loc["Grass"]

,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Poison,625,80,100,123,122,120,80,1,False
Oddish,43,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Chespin,650,NaN,313,56,61,65,48,45,38,6,False
Quilladin,651,NaN,405,61,78,95,56,58,57,6,False
Chesnaught,652,Fighting,530,88,107,122,74,75,64,6,False
Skiddo,672,NaN,350,66,65,48,62,57,52,6,False
Gogoat,673,NaN,531,123,100,62,97,81,68,6,False

In [7]:
pokemons.loc["Grass", "Attack"]

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Oddish                    50
                        ...
Chespin                   61
Quilladin                 78
Chesnaught               107
Skiddo                    65
Gogoat                   100
Name: Attack, Length: 70, dtype: int64

In [8]:
pokemons.loc[("Grass", "Bulbasaur")]

#                  1
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Name: (Grass, Bulbasaur), dtype: object

In [11]:
pokemons.loc[("Grass", "Bulbasaur"), "Attack"]

np.int64(49)

In [12]:
pokemons.loc[("Grass", "Bulbasaur"), ["Attack", "Defense"]]

Attack     49
Defense    49
Name: (Grass, Bulbasaur), dtype: int64

In [14]:
pokemons.loc[(["Grass","Fire"], ["Bulbasaur", "Litleo"]), :]

,,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,Name,,,,,,,,,,,
Grass,Bulbasaur,1,Poison,318,45,49,49,65,65,45,1,False
Fire,Litleo,667,Normal,369,62,50,58,73,54,72,6,False

In [16]:
pokemons.loc[(slice(None),"Bulbasaur"),"Legendary"]

Type 1  Name
Grass   Bulbasaur    False
Name: Legendary, dtype: bool